<section id="content">
 <div id="login_logo">
 </div>
    
 <div id="main_content_case_study">
   <div id="login_wrapper">
     <div id="form_fields">
       <input id="admin_login_field" type="text" size="19" value="Username" maxlength="50"/>
       <input id="admin_login_field" type="text" size="19" value="Password" maxlength="50"/>
       <input id="login_button" type="button" size="19" value="Login" maxlength="50"/>
     </div>
   </div>
 	</div>
</section>