/*customers*/

body#customers {
  overflow-y: scroll;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
  margin-top: 7px;
  text-align: center;
}

h3 {
  font-size: 55px;
  letter-spacing: -1px;
  line-height: 1;
}

#customers h3 {
  width: 440px;
  word-wrap: break-word;
}

h4 {
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 1.2;
}

#customers h4 {
  word-wrap: break-word;
}

#login_logo {
  background: url(../images/login_logo.png) no-repeat;
  width: 395px;
  height: 162px;
  margin: auto;
}

#customer_search_box {
  width: 385px;
  margin-left: 20px;
  border-radius: 10px;
  padding-left: 65px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 60px;
  font-weight: bold;
  color: #333;
  letter-spacing: -2px;
  background: #F5F5F5 url(../images/search_icon.png) no-repeat 10px;
  outline: none;
}

#customers input::-webkit-input-placeholder {
  color: #a8a8a8;
}

#customers input:-moz-placeholder {
  color: #a8a8a8;
}

#search_filters {
  float: right;
  font-size: 16px;
  line-height: 30px;
}

#search_filters label {
  padding-right: 15px;
}

#customer_list {
  /*width: 930px;*/
  padding-left: 0px;
  margin-bottom: 10px;
  color: #333;
  margin: auto;
}

#customer_list table {
  /*width: 910px;*/
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

#customer_list tr td:nth-child(1) {
  padding: 0px 20px;
}

#customer_list tbody tr:nth-child(odd) {
  background: #d7f0ff;
  width: 100%;
}

.customer_info {
  font-weight: bold;
  font-size: 45px;
  /*width: 900px;*/
}

#customers td {
  font-size: 16px;
  padding-bottom: 5px;
  padding-right: 30px;
}

#customers .name {
  font-size: 35px;
  width: 400px;
  overflow: hidden;
}

#customers .name a {
  color: #333;
  text-decoration: underline;
}

/* tabs */

.customer_list_tab div#search_tab {
  background-color: #c2e7ff;
  z-index: 3;
}

.customer_new_tab div#new_customer_tab {
  background-color: #c2e7ff;
  z-index: 3;
}

#new_customer_tab {
  margin-right: 10px;
  margin-left: 10px;
}

#dropdowns {
  width: 400px;
  height: 50px;
  float: left;
}

#dropdowns span {
  padding: 0px 10px;
}

#rule {
  width: 910px;
  height: 1px;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #A8A8A8;
}

/* new customer */
#customers .field_with_errors * {
  border: 2px solid red;
}

#customers .field_with_errors {
  display: inline;
}

#content_left {
  width: 460px;
  float: left;
  padding-bottom: 10px;
}

#content_right {
  width: 470px;
  float: right;
}

#content_left textarea{
  display: block;
  width: 420px;
  height: 80px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
	outline: none;
  border: 2px solid #a8a8a8;
}

#state_field {
  width: 55px;
}

#admin_short_form_fields input {
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
}

#radio_button_wrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  overflow: auto;
}

#radio_button_wrapper label {
  font-size: 17px;
  display: block;
  line-height: 40px;
  float: left;
  cursor: pointer;
}

#radio_button_wrapper input {
  float: left;
  display: block;
  margin-top: 12px;
  margin-right: 5px;
}

#radio_button_wrapper p {
  float: left;
  height: 40px;
  padding-right: 20px;
}

#sliders div {
  display: none;
  height: 40px;
}

#package_slider input {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

#sliders div select:first-of-type {
  margin-right: 15px;
}

#sliders * {
  font-size: 17px;
}

/* show customer */

#left_wrapper {
  width: 600px;
  margin-left: 20px;
}

#right_wrapper {
  width: 300px;
  height: 400px;
}

/* customer#edit */
