/*employees*/
body#employees {
  overflow-y: scroll;
}

/*employee index*/

#employee_content_wrapper {
  width: 940px;
  margin: auto;
  margin-bottom: 10px;
  /*margin-top: 25px; */
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #c2e7ff;
  -webkit-box-shadow: 2px 4px 4px #999;
  -moz-box-shadow: 2px 4px 4px #999;
  box-shadow: 2px 4px 4px #999;
  padding: 15px;
  z-index: 2;
  position: relative;
  overflow: auto;
  padding-top: 25px;
}

#employee_list {
  width: 920px;
  margin: auto;
  margin-left: 25px;
}

.employee_info {
  font-weight: bold;
  font-size: 45px;
  line-height: 1;
  width: 900px;
}

#employees td {
  font-size: 30px;
  padding-bottom: 15px;
  padding-right: 40px;
  color: #333;
}

#employees .name {
  font-size: 40px;
  padding-right: 250px;
}

#employees .name a {
  color: #333;
  text-decoration: underline;
}

#user_tab_wrapper {
	width: 940px;
	height: 80px;
	margin: auto;
  margin-bottom: -22px;
  padding-left: 25px;
}

#user_tab_wrapper div {
  float: left;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width: 150px;
	height: 40px;
	margin-top: 25px;
	padding-top: 3px;
	background-color: #99bfd7;
	position: relative;
	z-index: 1;
}

#user_tab_wrapper div a {
  color: #333;
  display: block;
}

.employee_list_tab div#employee_list_tab {
  background-color: #c2e7ff;
  z-index: 3;
}

.employee_new_tab div#new_employee_tab {
  background-color: #c2e7ff;
  z-index: 3;
}

#new_employee_tab {
	margin-right: 10px;
	margin-left: 10px;
}

#employee_list_tab {
}

/*new employee*/

#employees .field_with_errors * {
  border: 2px solid red;
}

#employees .field_with_errors {
  display: inline;
}

#employee_left {
  width: 460px;
  float: left;
}

#employee_right {
  width: 450px;
  float: right;
}

#employee_left input {
  display: block;
  width: 420px;
  height: 40px;
  margin-left: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
}

#employee_dropdowns {
  font-size: 16px;
  margin-right: 25px;
  font-weight: bold;
}

#employee_dropdowns p {
  margin-bottom: 10px;
}


#all_salons {
  margin-right: 5px;
  font-size: 15px;
}

/*edit user*/


/*show user*/

#employees h3 {
  font-size: 55px;
  letter-spacing: -1px;
  line-height: 1;
}

h5 {
  font-size: 25px;
  text-align: left;
}