/*employees*/
body#employees {
  overflow-y: scroll;
}

/*employee index*/
#employee_list {
  width: 920px;
  margin: auto;
  margin-left: 25px;
}

.employee_info {
  font-weight: bold;
  font-size: 45px;
  line-height: 1;
  width: 900px;
}

#employees td {
  font-size: 30px;
  padding-bottom: 15px;
  padding-right: 40px;
  color: #333;
}

#employees .name {
  font-size: 40px;
  padding-right: 250px;
}

#employees .name a {
  color: #333;
  text-decoration: underline;
}

.employee_list_tab div#employee_list_tab {
  background-color: #c2e7ff;
  z-index: 3;
}

.employee_new_tab div#new_employee_tab {
  background-color: #c2e7ff;
  z-index: 3;
}

#new_employee_tab {
	margin-right: 10px;
	margin-left: 10px;
}

#employee_list_tab {
}

/*new employee*/

#employees .field_with_errors * {
  border: 2px solid red;
}

#employees .field_with_errors {
  display: inline;
}

#employee_left {
  width: 460px;
  float: left;
}

#employee_right {
  width: 450px;
  float: right;
}

#employee_left input {
  display: block;
  width: 420px;
  height: 40px;
  margin-left: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
}

#employee_dropdowns {
  font-size: 16px;
  margin-right: 25px;
  font-weight: bold;
}

#employee_dropdowns p {
  margin-bottom: 10px;
}


#all_salons {
  margin-right: 5px;
  font-size: 15px;
}

/*edit user*/


/*show user*/

#show_employee_content_wrapper h3 {
  font-size: 55px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 5px;
}

#show_employee_content_wrapper p {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.2;
}

p#all_salons {
  font-size: 25px;
  margin-top: 10px;
}
