<div id="error_explanation">
  <h4><%= pluralize(@user.errors.count, "error") %> prohibited this employee from being saved:</h4>

  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>