<%= form_for([@current_salon, @user]) do |f| %>
  <div id="employee_left"> 
    <input type="text" size="19" placeholder="First Name"  maxlength="40"/> 
    <input type="text" size="19" placeholder="Last Name" maxlength="40"/>       
    <input type="text" size="19" placeholder="Password" maxlength="50"/> 
    <input type="text" size="19" placeholder="Password Confirmation" maxlength="50"/>   
  </div>

  <div id="employee_right"> 
    <div id="employee_dropdowns"> 
      <p> 
        <span>Employee's Security Level</span>  
        <select> 
          <option>Employee</option> 
          <option>Manager</option>
          <option>Owner</option> 
        </select> 
        <br />
        <span>Employee's Salon Location</span>  
        <select> 
          <option>Douglas</option> 
          <option>Marietta</option>
          <option>Paulding</option> 
        </select>
        <br/>
        <input type="checkbox" class="styled" id="all_salons"> 
        <label for="all_salons">This Employee can work at all Salons</label>
      </p>
    </div>
    <%= employee_form_submit_button %>
  </div>
<% end %>