<div id="employee_content_wrapper">  
  <div id="employee_list">
    <table>
      <% @users.each do |user| %> 
        <tr class ="employee_info"> 
          <td class="name"> 
            <%= link_to user.first_name + " " + user.last_name, [@current_salon, user] %>
          </td> 
          <td class="employee_login">
            <%= user.login %>
          </td> 
          <td class="security_level">manager</td> 
        </tr>
      <% end %>  
    </table>
  </div>
</div>