<div id="employee_content_wrapper">  
  <div id="employee_list">
    <table>
      <% @users.each do |user| %> 
        <tr class ="employee_info"> 
          <td class="name"> 
            <%= link_to user.first_name + " " + user.last_name, [@current_salon, user] %>
          </td> 
          <td class="employee_login">
            <%= user.login %>
          </td> 
          <td class="security_level">manager</td> 
        </tr>
      <% end %>  
      <tr class ="employee_info"> 
        <td class="name"><a href="#">seth brown</a></td> 
        <td class="employee_login">learc83</td> 
        <td class="security_level">manager</td> 
      </tr>
      <tr class ="employee_info"> 
        <td class="name"><a href="#">michael krontz</a></td> 
        <td class="employee_login">mkrontz</td> 
        <td class="security_level">owner</td> 
      </tr>
      <tr class ="employee_info"> 
        <td class="name"><a href="#">zane brown</a></td> 
        <td class="employee_login">zanius</td> 
        <td class="security_level">employee</td> 
      </tr>
      <tr class ="employee_info"> 
        <td class="name"><a href="#">rhonda krontz</a></td> 
        <td class="employee_login">rkrontz</td> 
        <td class="security_level">owner</td> 
      </tr>
    </table>
  </div>
</div>