<div id="user_tab_wrapper" class="employee_list_tab">
  <div id="employee_list_tab">
    <h2>
      <%= link_to "Employee List", salon_users_path(@current_salon) %>
    </h2>
  </div>
  <div id="new_employee_tab">
    <h2>
      <%= link_to "New Employee", new_salon_user_path(@current_salon) %>
    </h2>
  </div>
</div>

<div id="employee_content_wrapper">  
  <div id="employee_list">
    <table>
      <% @users.each do |user| %> 
        <tr class ="employee_info"> 
          <td class="name"> 
            <%= link_to user.first_name + " " + user.last_name, [@current_salon, user] %>
          </td> 
          <td class="employee_login">
            <%= user.login %>
          </td> 
          <td class="security_level">manager</td> 
        </tr>
      <% end %>  
    </table>
  </div>
</div>