<div id="user_tab_wrapper" class="employee_new_tab">
  <div id="employee_list_tab">
    <h2>
      <%= link_to "Employee List", salon_users_path(@current_salon) %>
    </h2>
  </div>
  <div id="new_employee_tab">
    <h2>
      <%= link_to "New Employee", new_salon_user_path(@current_salon) %>
    </h2>
  </div>
</div>

<div id="employee_content_wrapper">  
  <%= render :partial => 'form'%>
</div>