<div id="new_employee_content_wrapper">  
  <div id="employee_left"> 
    <h3><%= @user.first_name + " " + @user.last_name %></h3> 

    <h4>678-428-1541</h4> 
    <h4>mkrontz@mac.com</h4> 
    <h4>1190</h4> 
    <br> 

    <br> 
    <h4>56 Ruth Way</h4> 
    <h4>Douglasville, GA</h4> 
    <h4>30134</h4> 
  </div>

  <div id="employee_right">
    <%= button_to "Edit Employee", edit_salon_user_path(@current_salon, @user),
                                   :method => :get, :id => "edit_customer_button" %>
    <%= button_to "Delete Employee", salon_user_path(@current_salon, @user),
                                     :method => :delete, :id => "delete_customer_button",
                                     :confirm => "are you sure you want to delete this user?" %>
  </div>
</div>