<div id="new_employee_content_wrapper">  
  <div id="employee_left"> 
    <h3>Michael Krontz</h3> 

    <h4>678-428-1541</h4> 
    <h4>mkrontz@mac.com</h4> 
    <h4>1190</h4> 
    <br> 

    <br> 
    <h4>56 Ruth Way</h4> 
    <h4>Douglasville, GA</h4> 
    <h4>30134</h4> 
  </div>

  <div id="employee_right"> 
    <input id="edit_customer_button" type="button" value="Edit Employee"/> 
    <input id="delete_customer_button" type="button" value="Delete Employee"/>
  </div>
</div>