<table cellspacing="0">
  <% for customer in @customers %>
    <tr class ="customer_info">
      <td class="name">
        <%= link_to customer.first_name.truncate(17) + " " + customer.last_name.truncate(17),
          [@current_salon, customer] %>
      </td>
      <td class="phone_number"><%= phone_number(customer.phone_number) %></td>
      <td class="details"><%= type_and_details_for(customer) %></td>
      <td class="level">level <%= customer.level %></td>
    </tr> 
  <% end %>
</table>