<div id="tab_wrapper">
  <div id="search_tab">
    <h2>
      <%= link_to "Search", salon_customers_path(@current_salon) %>
    </h2>
  </div>
  
  <div id="new_customer_tab">
    <h2>
      <%= link_to "New Customer", new_salon_customer_path(@current_salon) %>
    </h2>
  </div>
</div>
   
<div id="content_wrapper" class="customer_edit">
  <%= render :partial => "form" %>
  <div class="clear"></div>
</div>
