<div id="tab_wrapper" class="customer_list_tab">
  <div id="search_tab">
    <h2>
      <%= link_to "Search", salon_customers_path(@current_salon) %>
    </h2>
  </div>
  
  <div id="new_customer_tab">
    <h2>
      <%= link_to "New Customer", new_salon_customer_path(@current_salon) %>
    </h2>
  </div>
</div>
   
<div class="content_wrapper">  
  <%= form_tag({:controller => "customer_search", :action => "create"}, :id => "customer_search_form") do %>
  <input id="customer_search_box" type="text" size="30" placeholder="search" maxlength="30" name="search[name]" autocomplete="off"/>
  <div id="search_filters">
    <input type="checkbox" class="styled" id="recurring" name="search[type][recurring]" value="1">
    <label for="recurring">Recurring</label>
    <input type="checkbox" class="styled" id="per_month" name="search[type][per_month]" value="2">
    <label for="per_month">Per Month</label>
    <input type="checkbox" class="styled" id="package" name="search[type][package]" value="3">
    <label for="package">Package</label>
    <input type="checkbox" class="styled" id="per_session" name="search[type][per_session]" value="4">
    <label for="per_session">Per Session</label>

    <br />

    <input type="checkbox" class="styled" id="level1" name="search[level][one]" value="1">
    <label for="level1">Level 1</label>
    <input type="checkbox" class="styled" id="level2" name="search[level][two]" value="2">
    <label for="level2">Level 2</label>
    <input type="checkbox" class="styled" id="level3" name="search[level][three]" value="3">
    <label for="level3">Level 3</label>
    <input type="checkbox" class="styled" id="level4" name="search[level][four]" value="4">
    <label for="level4">Level 4</label>
    <input type="checkbox" class="styled" id="level5" name="search[level][five]" value="5">
    <label for="level5">Level 5</label>

    <br />
    
    <div id="dropdowns">
      <p>
        <select name="search[tanned][hhn]">
          <option value="have">Have</option>
          <option value="have_not">Have Not</option>
        </select>
        <span>tanned in the last</span>  

        <select name="search[tanned][days]">
          <option value="">---</option>
          <option value="365">Year</option>
          <option value="180">180 Days</option>
          <option value="90">90 Days</option>
          <option value="60">60 Days</option>
          <option value="30">30 Days</option>
        </select>
      </p>
    </div>
  </div>
  <% end %>

  <div id="rule"></div>
 
  <div id="customer_list">
    <%= render :partial => "customer_table" %>
  </div>
</div> 