<div id="tab_wrapper">
  <div id="search_tab">
    <h2>
      <%= link_to "Search", salon_customers_path(@current_salon) %>
    </h2>
  </div>
  
  <div id="new_customer_tab">
    <h2>
      <%= link_to "New Customer", new_salon_customer_path(@current_salon) %>
    </h2>
  </div>
</div>
   
<div id="content_wrapper">  
  <%= form_tag(:controller => "customer_search", :action => "create") do %>
  <input id="customer_search_box" type="text" size="30" placeholder="search" maxlength="30" name="search[name]" autocomplete="off"/>
  <div id="search_filters">
    <input type="checkbox" class="styled" id="recurring" name="search[recurring]">
    <label for="recurring">Recurring</label>
    <input type="checkbox" class="styled" id="per_month">
    <label for="per_month">Per Month</label>
    <input type="checkbox" class="styled" id="package">
    <label for="package">Package</label>
    <input type="checkbox" class="styled" id="per_session">
    <label for="per_session">Per Session</label>

    <br />

    <input type="checkbox" class="styled" id="level1" name="search[level][one]" value="1">
    <label for="level1">Level 1</label>
    <input type="checkbox" class="styled" id="level2" name="search[level][two]" value="2">
    <label for="level2">Level 2</label>
    <input type="checkbox" class="styled" id="level3" name="search[level][three]" value="3">
    <label for="level3">Level 3</label>

    <br />
    
    <div id="dropdowns">
      <p>
        <select>
          <option>Have</option>
          <option>Have Not</option>
        </select>
        <span>tanned in the last</span>  

        <select>
          <option>---</option>
          <option>Year</option>
          <option>90 Days</option>
          <option>60 Days</option>
          <option>30 Days</option>
        </select>
      </p>
    </div>
  </div>
  <% end %>

  <div id="rule"></div>
 
  <div id="customer_list">
    <%= render :partial => "customer_table" %>
  </div>
</div> 