<div id="tab_wrapper">
  <div id="search_tab">
    <h2>Search</h2>
  </div>
  
  <div id="new_customer_tab">
    <h2>New Customer</h2>
  </div>
</div>
   
<div id="content_wrapper">
  <div id="radio_button_wrapper">
    <input type="radio" name="radiogroup" id="recurring">
    <label for="recurring">Recurring</label>
    <input type="radio" name="radiogroup" id="bythemonth">
    <label for="bythemonth">By the Month</label>
    <input type="radio" name="radiogroup" id="package">
    <label for="package">Package</label>
    <input type="radio" name="radiogroup" id="persession">
    <label for="persession">Per Session</label>
  </div>

  <input id="admin_form_field" type="text" size="19" placeholder="First Name" maxlength="50"/>
  <input id="admin_form_field" type="text" size="19" placeholder="Last Name" maxlength="50"/>
  <input id="admin_form_field" type="text" size="19" placeholder="Phone #" maxlength="50"/>
  <input id="admin_form_field" type="text" size="19" placeholder="Customer Number" maxlength="50"/> 
  <input id="admin_form_field" type="text" size="19" placeholder="Email" maxlength="50"/>   
  <input id="admin_wide_form_field" type="text" size="19" placeholder="Address" maxlength="50"/>
  <input id="admin_short_form_field" type="text" size="19" placeholder="City" maxlength="20"/>
  <input id="admin_short_form_field" type="text" size="19" placeholder="Zip" maxlength="5"/>
    <input id="admin_medium_form_field" type="text" size="19" placeholder="State" maxlength="20"/>

  
  <div id="by_the_month">
    <p>
      <span>Paid Through</span>
      <select>
        <option>January</option>
        <option>February</option>
      </select>
      <select>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
      </select>
        <option>2011</option>
        <option>2012</option>
        <option>2013</option>
        <option>2014</option>
      </select>
      
      <span>Level</span>  
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
  </div>
  
  <div id="add_customer_button_wrapper">
    <input id="add_customer_button" type="button" size="19" value="Add Customer" maxlength="50"/>
  </div>

</div>



</section>