<section id="content">
   <div id="new_customer_form_wrapper">
      <div id="form_fields">
         <input id="admin_form_field" type="text" size="19" value="First Name" maxlength="50"/>
                  <input id="admin_form_field" type="text" size="19" value="Last Name" maxlength="50"/>
                  <input id="admin_form_field" type="text" size="19" value="Phone #" maxlength="50"/>
                  <input id="admin_form_field" type="text" size="19" value="Email" maxlength="50"/>   
                  <input id="admin_wide_form_field" type="text" size="19" value="Address 1" maxlength="50"/>
                  
                  <input id="admin_wide_form_field" type="text" size="19" value="Address 2" maxlength="50"/>
                
                  <input id="admin_short_form_field" type="text" size="19" value="City" maxlength="50"/>
                  <input id="admin_short_form_field" type="text" size="19" value="Zip" maxlength="20"/>
                  <input id="admin_short_form_field" type="text" size="19" value="State" maxlength="20"/>
                  

      </div>
      </div>
   <div id="new_customer_radio_wrapper">
      <div id="radio_button_wrapper">
         <input type="radio" name="group1" value="recurring"> Recurring
         <input type="radio" name="group1" value="by_the_month" checked> By the Month<br>
         <input type="radio" name="group1" value="package"> Package
         <input type="radio" name="group1" value="per_session"> Per Session
         
         </div>
      </div>
   <div id="add_customer_button_wrapper">
              <input id="add_customer_button" type="button" size="19" value="Add Customer" maxlength="50"/>
              </div>
   <div id="content_wrapper">   
   
   </div>
  </section>
