<section id="content">
  <div id="tab_wrapper">
    <div id="new_customer_tab"><h2>New Customer</div>
    <div id="search_tab"><h2>Search</div>
    
    </div>
    <div id="form_fields">
       <input id="admin_form_field" type="text" size="19" value="First Name" maxlength="50"/>
                <input id="admin_form_field" type="text" size="19" value="Last Name" maxlength="50"/>
                <input id="admin_form_field" type="text" size="19" value="Phone #" maxlength="50"/>
                <input id="admin_form_field" type="text" size="19" value="Customer Number" maxlength="50"/> 
                <input id="admin_form_field" type="text" size="19" value="Email" maxlength="50"/>   
                
                <input id="admin_wide_form_field" type="text" size="19" value="Address" maxlength="50"/>
              
                <div id="city_state_zip">
                <input id="admin_short_form_field" type="text" size="19" value="City" maxlength="20"/>
                <input id="admin_short_form_field" type="text" size="19" value="Zip" maxlength="5"/>
                <div id="radio_button_wrapper">
                   <input type="radio" name="group1" value="recurring"> Recurring
                   <input type="radio" name="group1" value="by_the_month" checked> By the Month<br>
                   <input type="radio" name="group1" value="package"> Package
                   <input type="radio" name="group1" value="per_session"> Per Session
                </div>
                </div>
                
    </div>


 <div id="add_customer_button_wrapper">
            <input id="add_customer_button" type="button" size="19" value="Add Customer" maxlength="50"/>
            </div>

</section>
