<div id="tab_wrapper">
  <div id="search_tab">
    <h2>Search</h2>
  </div>
  
  <div id="new_customer_tab">
    <h2>New Customer</h2>
  </div>
</div>
   
<div id="content_wrapper">
  <div id="content_left">
   <h1>Michael</h1>
   <h1>Krontz</h1>
   <h1>678-428-1541</h1>
   <h1>1190</h1>
   <h1>678-428-1541</h1>
   <h1>mkrontz@mac.com</h1>
   <h1>56 Ruth Way</h1>
   <h1>Douglasville</h1>
   <h1>30134</h1>
   <h1>GA</h1>
   
  </div>

  <div id="content_right">
    <div id="radio_button_wrapper">
      <input type="radio" name="radiogroup" id="recurring">
      <label for="recurring">Recurring</label>
      <input type="radio" name="radiogroup" id="bythemonth">
      <label for="bythemonth">By the Month</label>
      <input type="radio" name="radiogroup" id="package">
      <label for="package">Package</label>
      <input type="radio" name="radiogroup" id="persession">
      <label for="persession">Per Session</label>
    </div>
  
    <div id="by_the_month">
      <span>Paid Through</span>
      <select>
        <option>January</option>
        <option>February</option>
      </select>
      <select>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
      </select>
      <select>
        <option>2011</option>
        <option>2012</option>
        <option>2013</option>
        <option>2014</option>
      </select>
    
      <span>Level</span>  
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    
    <input id="add_customer_button" type="button" value="Add Customer"/>
  </div>
  <div class="clear"></div>
</div>