<div id="tab_wrapper">
  <div id="search_tab">
    <h2>Search</h2>
  </div>
  
  <div id="new_customer_tab">
    <h2>New Customer</h2>
  </div>
</div>
   
<div id="content_wrapper">
  <div id="content_left">
   <div id="left_wrapper">
   <h3>Michael Krontz</h3>
   
   <h4>678-428-1541</h4>
   <h4>mkrontz@mac.com</h4>
   <h4>1190</h4>
   <br>
 
   <br>
   <h4>56 Ruth Way</h4>
   <h4>Douglasville, GA</h4>
   <h4>30134</h4>
  </div> 
  </div>

  <div id="content_right">
    
    <div id="edit_link_wrapper">
    <h6>Edit this Customer</h6>
    </div>
  <input id="delete_customer_button" type="button" value="Delete Customer"/>
  </div>
  <div class="clear"></div>
  

  </div>
  <div class="clear"></div>
</div>