<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Toasty</title>
  <%= stylesheet_link_tag 'login.css' %>
  <%= javascript_include_tag "jquery-1.4.4.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body id="login">
  <%= yield %>
</body>
</html>