<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Toasty</title>
  <%= stylesheet_link_tag 'login.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="login">
  <%= yield %>
</body>
</html>
